/********** Add Your Global CSS Here **********/
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html a,
html p,
html li,
input,
textarea,
span,
div,
html,
body,
html a {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html ul {
  -webkit-padding-start: 0px;
  list-style: none;
  margin-bottom: 0;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
}

.scrollbar-track {
  background: rgba(222, 222, 222, 0.15) !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.5) !important;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-bottomLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-bottomRight
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-topLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-topRight
  > .ant-popover-content
  > .ant-popover-arrow:after {
  left: 0;
  margin-left: -4px;
}

.field-error {
  color: red;
}

/********** Add Your Global RTL CSS Here **********/
/* Popover */
html[dir='rtl'] .ant-popover {
  text-align: right;
}

/* Ecommerce Card */
html[dir='rtl'] .isoCardInfoForm .ant-input {
  text-align: right;
}

/* Modal */
html[dir='rtl'] .has-success.has-feedback:after,
html[dir='rtl'] .has-warning.has-feedback:after,
html[dir='rtl'] .has-error.has-feedback:after,
html[dir='rtl'] .is-validating.has-feedback:after {
  left: 0;
  right: auto;
}

html[dir='rtl'] .ant-modal-close {
  right: inherit;
  left: 0;
}

html[dir='rtl'] .ant-modal-footer {
  text-align: left;
}

html[dir='rtl'] .ant-modal-footer button + button {
  margin-left: 0;
  margin-right: 8px;
}

html[dir='rtl'] .ant-confirm-body .ant-confirm-content {
  margin-right: 42px;
}

html[dir='rtl'] .ant-btn > .anticon + span,
html[dir='rtl'] .ant-btn > span + .anticon {
  margin-right: 0.5em;
}

html[dir='rtl'] .ant-btn-loading span {
  margin-left: 0;
  margin-right: 0.5em;
}

html[dir='rtl']
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
  padding-left: 25px;
  padding-right: 29px;
}

html[dir='rtl']
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline)
  .anticon {
  margin-right: -14px;
  margin-left: 0;
}

/* Confirm */
html[dir='rtl'] .ant-modal.ant-confirm .ant-confirm-body > .anticon {
  margin-left: 16px;
  margin-right: 0;
  float: right;
}

html[dir='rtl'] .ant-modal.ant-confirm .ant-confirm-btns {
  float: left;
}

html[dir='rtl'] .ant-modal.ant-confirm .ant-confirm-btns button + button {
  margin-right: 10px;
  margin-left: 0;
}

/* Message */
html[dir='rtl'] .ant-message .anticon {
  margin-left: 8px;
  margin-right: 0;
}

/* Pop Confirm */
html[dir='rtl'] .ant-popover-message-title {
  padding-right: 20px;
  padding-left: 0;
}

html[dir='rtl'] .ant-popover-buttons {
  text-align: left;
}

/* Notification */
html[dir='rtl']
  .ant-notification-notice-closable
  .ant-notification-notice-message {
  padding-left: 24px;
  padding-right: 0;
}

html[dir='rtl']
  .ant-notification-notice-with-icon
  .ant-notification-notice-message,
html[dir='rtl']
  .ant-notification-notice-with-icon
  .ant-notification-notice-description {
  margin-right: 48px;
}

html[dir='rtl'] .ant-notification-notice-close {
  right: auto;
  left: 16px;
}

html[dir='rtl'] .ant-notification-notice-with-icon {
  left: 0;
}

/* Dropzone */
html[dir='rtl'] .dz-hidden-input {
  display: none;
}

.loader-class{
  background: none repeat scroll 0 0 black;
  position: fixed;
  display: block;
  opacity: 0.5;
  z-index: 1000001; 
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.loader-class .ant-spin{
  margin: 25% 20% 0 50%;
}
.descriptionContainer{
  overflow: hidden;
}
.descriptionContainer img{
  height: auto;
  max-width: 100%;
}
.descriptionContainer ul{
  list-style: circle inside;
}
.image-note{
  margin-top: 8px;
  font-style: italic;
  font-size: 12px;
  color: gray;
}
.toolbar-header-text{
  text-align: center;
  line-height: 0px  !important;
  margin-top: 20px;
}
.toolbar-header-text span{
  line-height: 20px
}
.front-doc{
  border: 1px solid;
  display: block;
    height: 200px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 18px auto;
}
.front-doc img {
  width: 100%;
  height: 100%;
}
.back-doc{
  max-width: 150px;
  display: inline-block;
  max-height: 200px;
  border: 1px solid;
  margin-left: 30px;
}
.sub-header-title{
  font-size: small;
}
.header-title{
  font-size: large;
  font-weight: 600;
}
.back-doc img {
  width: 100%;
  height: 100%;
}
.search-btn {
  border-radius: 5px !important;
  margin-left: 15px;
}
.left-div img{
  width: 250px;
  height: 250px;
}
.parent-div{
  margin-top: 50px;
}
.right-div{
  margin-top: 30px;
}
.right-div p:first-child{
  font-weight: 600;
  font-size: 20px;
}
.color-picker{
  margin-left: 10px;
}
.kyc-div{
  padding: 15px !important;
}
.faldax-loader {
  width: 70px !important;
  height: 70px !important;
}
.amount-span{
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}
.referral-div{
  margin: 20px;
}
.search-btn-back{
  float: right;
  width: 250px !important;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}
.user-btn{
  border-radius: 5px !important;
  margin-left: 15px;
  margin-top: 15px;
}
.user-profile{
  margin: 25px;
  padding: 35px;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  height: 100%;
}
.kyc-doc{
  width: 100%;
}
.cancel-btn{
  margin-bottom: 15px;
  margin-left: 10px;
}
.isoCustomizedTable .ant-table-row{
  /* cursor: pointer; */
}
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  /* cursor: pointer; */
}

.editable-row:hover.editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.scroll-table .ant-table-body{
  overflow-x: auto;
  max-width: 100%;
}
.save-all-btn{
  border-radius: 5px !important;
  margin-top: 15px;
  float: right;
}

.wallet-div{
  word-break: break-all;
  margin-bottom: 10px;
}
.custom-spacing{
  margin-right: 8px;
}
.wallet-card .ant-card-head {
  background-color: #5dade2  ;
  line-height: 2.2;
} 
.wallet-card{
  min-width: 245;
  max-width: 245;
}
.orders-tab .ant-tabs-nav-wrap{
  margin-left: 20px;
  background-color: white;
  margin-right: 20px;
}


/* file input mital try */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.wallet-card.ant-card-bordered{
  min-height: 332px;
}

.hCWqGk .ant-row > div{
  padding: 5px;
}

.profile-div{
  width: 100%;
  padding: 35px;
  background-color: #ffffff;
  height: 100%;
}


.error-danger{
  color:red;
}

.mg-top-15{
  margin-top: 15px;
}
.mg-top-1{
  margin-top: 1px;
}
.mg-left-30{
  margin-left: 30px;
}
.btn-token-edit{
  margin-bottom: 12px;
  margin-left: 5px;
  font-size: 18px;
}

.float-clear{
  clear: both;
}

.full-width{
  width: 100%;
}
.float-right{
  float:right;
}

.cursor-default{
  cursor: default !important;
}
.save-thresh-btn{
  padding: 5px 35px;
  background: #fff;
  width:100%;
  text-align: right;
} 

.txt-align-right{
  text-align: right;
}

.clear-after::after{
  clear:both;
}
.mg-tb-16{
  margin: 16px 0;
}
.assets-card{
  font-weight: 700;
  font-size: large;
  cursor:pointer;
  margin-bottom: 10px;
}
.assets-card:hover{
  border: 1px solid #1890FF;
}
.assets-card .amount{
  float: right;
  line-height: 40px;
}
.inactive-asset-card {
  font-weight: 700;
  font-size: large;
  margin-bottom: 10px;
}
.inactive-asset-card .amount{
  float: right;
  line-height: 40px;
}
.tier-tab{
  margin-left: 20px;
    /* background-color: white; */
  margin-right: 20px;
}

.btn-full-width{
  width: 100%;
}

.filter-btn{
  margin:0;
  border-radius: 5px !important;
}

.cty-search{
  margin-bottom: 0px !important;
}
.cty-search .ant-form-item-control-wrapper ,.news-search .ant-form-item-control-wrapper{
  padding: 0 !important;
}
.cty-search .ant-form-item-control,.news-search .ant-form-item-control{
  line-height: 0 !important;
}
.ant-form-item.news-search{
  margin: 0;
}

.referral-container{
  margin:0 auto;
  width: 60%;
}
.referral-container input{
  width:100%;
}
.btn-icon{
  cursor: pointer;
  margin-left: 15px;
}
.cursor-pointer{
  cursor: pointer;
}
.small-icon-img{
  height:15px;
}
.color-green{
  color:green;
}
.color-blue{
  color: #5dade2;
}

.metabase-iframe{
  height: calc(100vh - 326px);
    min-height: 500px;
}

.btn-back{
  margin: 0px 10px;
}
.table-tb-margin{
  margin:15px auto;
}

.table-column{
  padding: 5px !important;
}

.asset-coinatiner img{
  height: 40px;
}
.status-open{
  color: #5dade2;
  font-weight: 500;
}
.status-cancelled{
  color:red;
  font-weight: 500;
}
.status-filled{
  color: green;
  font-weight: 500;
}
.fees-container{
  width:60%;
  margin: auto;
}
.fees-divider{
  margin-top:5px;
}
.asset-container{
  padding: 10px;
  border: 1px gainsboro;
}
.asset-container img{
  height: 100px;
}
.text-elipses{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.switch-cell{
  width: 70px;
  text-align: center;
  height: 22px !important;
  line-height: 20px !important;
  border-radius: 100px !important;
}
.switch-cell::after{
  width: 18px !important;
  height: 18px !important;
}
.text-center{
  text-align: center;
}
.full-height{
  height: 100%;
}
.panic-btn{
  width: 70px;
  text-align: center;
  height: 26px !important;
  line-height: 22px !important;
  border-radius: 100px !important;
}
.panic-btn::after{
  width: 22px !important;
  height: 22px !important;
}
.whitelist-btn{
  width: 80px;
  text-align: center;
  height: 26px !important;
  line-height: 22px !important;
  border-radius: 100px !important;
}
.whitelist-btn::after{
  width: 22px !important;
  height: 22px !important;
}
.personal-btn{
  width: 100px;
  text-align: center;
  height: 30px !important;
  line-height: 22px !important;
  border-radius: 100px !important;
}
.personal-btn::after{
  width: 25px !important;
  height: 25px !important;
}
.kyc-btn{
  width: 125px;
  text-align: center;
  height: 30px !important;
  line-height: 22px !important;
  border-radius: 100px !important;
}
.kyc-btn::after{
  width: 25px !important;
  height: 25px !important;
}
.search-with-btn{
  width: 300px !important;
}

.kyc-status-rejected{
  color: tomato;
  font-weight: 600;
}
.kyc-status-closed{
  color: teal;
  font-weight: 600;
}
.kyc-status-open{
  color:royalblue;
  font-weight: 600;
}
.panic-container{
  width: 70%;
  margin: 0 auto;
}
.kyc-round-btn{
  border-radius: 50% !important;
  margin: 2px;
}

.form-container{
  height: 40px;
}
.cypher-text-container{
  /* width: 90% !important; */
  margin: 10px auto !important;
}

.cypher-text{
  padding: 5px;
    background: azure;
    border: 2px dotted gainsboro;
}


.title-case{
  text-transform: uppercase;
}

.camel-case{
  text-transform: capitalize;
}

.terms-note{
  margin-top: 5px;
    font-size: 13px;
    font-style: italic
}

.table-filter-row .ant-col{
  padding: 4px;
}
.order-2,.withdrawal-status-approved {
  color: green;
  font-weight: 500;
}
.sub-tab-tabledemo{
  margin: 0 !important;
}

.order-3,.withdrawal-status-declined{
  font-weight: 500;
  color: orangered;
}
.withdrawal-status-cancelled{
  font-weight: 500;
  color: orangered;
}
.order-1,.withdrawal-status-pending {
  font-weight: 500;
  color: #174c7e;
}
.address{
  display: block;
  color:grey;
}
.address-text{
  display: block;
  padding-left: 20px;
}

.permission-scroll{
  height: 55vh;
  overflow: scroll;
}
.campaign-user-inline {
  display: inline-block;
  width: 40% !important;
}
.inner-row{
  padding: 25px;
  border: 1px solid #e8e8e8;
  margin-bottom: 15px;
}
.link-text{
  cursor: pointer;
  text-transform: capitalize;
  color: #1890ff;
}
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-profile-input{
  margin-bottom: 10px;
}
.edit-profile-input input{
  display: block;
  width: 30%;
}
.signin-link{
  font-size: 12px;
}

.limit-div
{
  background: #f1f3f6;
}
.ant-breadcrumb{
  font-weight: 400;
  width: 100%;
  clear: both;
  margin-left: 10px !important;
}
.copy-text-container{
  padding: 2px;
  border: 1.2px dotted #1790fe;
  border-radius: 3%;
  cursor: pointer;
  background: #7fffd42e;
}
/* Disable print  */
@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}

.icon-img{
  height: 30px;
}
.wallet-head{
  font-size: x-large;
}
.wallet-address{
  cursor: pointer;
  padding: 5px;
  background: #dcdcdc59;
  border: 1px dotted #359afd9e;
}
.lowercase{
  text-transform: lowercase;
}
.email-container{
  padding:16px 8px;
}

.long-text-wrapper{
  word-wrap: break-word;
  width: 50%;
  text-align: justify;
  display:block;
  white-space: normal;
}